

/*Custom classes used for testing purposes*/
.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.green-border {
    border-style: solid;
    border-color: green;
}
/*css shared across multiple html files, design elements not available in bootstrap*/
body {
    margin-bottom: 60px;
}

.container-top {
    border-bottom: solid;
    border-color: #1F2936;
    background-color: white;
}

.container-bottom {
    border-top: solid;
    border-color: #1F2936;
    background-color: white;
}

footer {
    font-size: .75rem;
    margin-top: 60px;
}